<table class="display_league">
  <% all_number_totals.each do |key,value| %>
    <% if value.empty? %>
      <span>No players wear the number <%= key %> in the <%= league.abbreviation %></span><br>
    <% elsif value.length == 1 %>
      <a href="/leagues/<%= league.abbreviation %>/numbers/<%= key %>">There is <%= value.length %> player that wears the number <%= key %> in the <%= league.abbreviation %></a><br>
    <% else %>
      <a href="/leagues/<%= league.abbreviation %>/numbers/<%= key %>">There are <%= value.length %> players that wear the number <%= key %> in the <%= league.abbreviation %></a><br>
    <% end %>
  <% end %>
</table>
