<table class="display_league center">
  <% all_number_totals.each do |number,count| %>
    <% if count == 0 %>
      <span>No players wear the number <%= number %> in the <%= league.abbreviation %></span><br>
    <% elsif count == 1 %>
      <a href="/leagues/<%= league.abbreviation %>/numbers/<%= number %>">There is <%= count %> player that wears the number <%= number %> in the <%= league.abbreviation %></a><br>
    <% else %>
      <a href="/leagues/<%= league.abbreviation %>/numbers/<%= number %>">There are <%= count %> players that wear the number <%= number %> in the <%= league.abbreviation %></a><br>
    <% end %>
  <% end %>
</table>
